body {
    background-color: #054375;
  }
h {
    border-style: groove;
    border-color: #0a738d;
}

h2 {text-align: center;}

h3 {text-align: center;}

.center {
    text-align: center;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: rgb(64, 219, 247);
  }

.bar {
    fill: blue;
  }
  
.bar:hover {
    fill: red;
  }
  
form.group.impact {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
  }

.call {
    font: 16px sans-serif;
  }

  .tooltip {
    display: none;
    position: absolute;
    width: 80px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    text-align: center;
    background: orange;
    border: 0;
    border-radius: 10px;
  }
  