<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <title>Marital Status Bar Chart</title>
</head>

<body>
    <h2>Marital Status Data</h2>
    <script type="text/javascript">
        function myFunc(vars) { return vars }
        location_data = myFunc({{ location_data| tojson}})
        console.log(location_data)
    </script>
    <script type="text/javascript" src="/static/chart.js"></script>
</body>

</html>