<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Maryland-Virginia Violent Crime Data</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		html {
			background: url(https://wallpaperset.com/w/full/9/a/2/134056.jpg);
			background-size: cover;
			background-repeat: no-repeat;
	}</style>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-default" style="background-color: #3462b6c0;">
			<div class="container-fluid">
				<!-- <div class="collapse navbar-collapse" id="myNavbar"> -->

					<ul class="nav navbar-nav navbar-expand-lg center">
						<li class="active"><a href="/">Home</a></li>
						<li class="active"><a href="/">Map</a></li>
						<li><a href="/education">Education</a></li>
						<li><a href="/marital-status">Marital Status</a></li>

					</ul>
				</div>
			</div>
		</nav>
		<div class="jumbotron center">
			<h1 class="display-3">Welcome to the Maryland-Virginia Violent Crime Database</h1>
			<h3 class="display-5">Please navigate through the site by seleciton any of the options above.</h3>
		</div>

	</div>

	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
</body>

</html>