<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>MD-VA_Crime_Data</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Map</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav center">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/education">Education</a></li>
						<li><a href="/marital-status">Marital Status</a></li>
						<li><a href="/income-unemployment">Income-Unemployment</a></li>
					</ul>
					
				</div>
			</div>
		</nav>
		<div class="jumbotron center">
			<h1>Maryland-Virginia Marital Status Data Search</h1>

		</div>
		<div class="row">
			<div class="col-md-12">
				<form id="form" action='/marital-status-submit' method="POST">
					<div class="form-group">
						<label for="md-va-form2">Search for City and State (City, State)</label>
						<input class="form-control" id="state-form-input" name="search-form" type="text"
							placeholder=" ">
					</div>
					
				</form>
			</div>
		</div>

	</div>

	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
</body>

</html>