<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Marital Status Bar Chart</title>
    <style>
        html {
            background: url(https://wallpaperset.com/w/full/9/a/2/134056.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="card-title">
            <h2 class='center'>Percentage of Marital Status</h2>
        </div>
    </div>
    <script type="text/javascript">
        function myFunc(vars) { return vars }
        location_data = myFunc({{ location_data| tojson}})
        console.log(location_data)
    </script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script type="text/javascript" src="/static/js/chart.js"></script>
</body>

</html>